.navbar {
  background-color: #3d7068;

  .nav-item {
    align-items: stretch;
    span {
      margin-left: 1rem;
    }

    a {
      color: #fff;

      &.active {
        color: darkgray;
      }
    }
  }
}
