#login-page {
  margin: 100px auto 0 auto;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 2rem 0;
  width: 60%;

  #login-form {
    margin-top: 50px;
  }
}
