#header {
  background-color: #1ccf08;
  color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #header-links {
    .header-link {
      color: #fff;
      margin-left: 1rem;
    }
  }
}
