#login-page {
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  #login-form {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;

    button {
      width: 35%;
    }
  }
}
