.page {
  padding-top: 4rem;

  .form {
  }
}

/* Sign In Styles */
#signin-form {
  .input-group {
    margin: 1rem 0 0.5rem 0;
  }

  button {
    margin-top: 1.5rem;
  }
}

p.page-redirect {
  margin-top: 0.75rem;
}
/* Validation Styles */
p.help {
  margin: 0;
}

.invalid {
  border: 1px solid #dc3545 !important;
  border-radius: 0.25rem;
}
