.page {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .form {
    .required {
      color: #dc3545;
      margin-left: 0.25rem;
      margin-bottom: 0.15rem;
      font-size: 0.5em;
    }

    .form-group {
      margin: 1rem 0 0.75rem 0;
    }
  }
}

/* header styles */
#header {
  padding: 0 0.5rem;

  #header-links {
  }
}

/* bottom navbar styles */
.navbar {
  .navbar-item {
    svg {
      margin-right: 0.5rem;
    }
  }
}

/* Sign In Styles */
#signin-form {
  .input-group {
    margin: 1rem 0 0.5rem 0;
  }

  button {
    margin-top: 1.5rem;
  }
}

p.page-redirect {
  margin-top: 0.75rem;
}
/* Validation Styles */
p.help {
  margin: 0;
}

.invalid {
  border: 1px solid #dc3545 !important;
  border-radius: 0.25rem;
}

/* Spinner */
.spinner-container {
  margin-top: 3rem;

  .spinner-lg {
    height: 3rem;
    width: 3rem;
  }
}

.table {
  thead {
    tr {
      th {
        border-top: 0;
      }
    }
  }
}
