@import "./layout/navbar.scss";
@import "./layout/header.scss";

@import "./pages/login.scss";
@import "./pages/register.scss";

* {
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;

  .wrapper {
    height: 100vh;

    &.bg {
      background-color: #3d7068;
    }
  }
}

.container {
  margin-top: 50px;
  margin-bottom: 100px;

  .page {
    form {
      width: 75%;
      margin: 2rem auto 1rem auto;

      .form-group,
      .input-group {
        margin: 2rem 0;
      }
    }

    .page-redirect {
      width: 75%;
      margin: 0.5rem auto;
    }
  }
}

h1 {
  font-size: 3rem;
}
